.movie {
  margin: 1rem;
  padding: 1rem;
  background-color: #230052;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: all ease-in 1.2s;
}

.visible {
  opacity: 1;
  transform: translateX(0);
}

.movie h2 {
  font-size: 2rem;
  color: #f7e702;
}

.movie h3 {
  color: #eccf77;
  margin: 0;
  font-size: 1rem;
}

.movie p {
  text-align: justify;
}

.movie:nth-child(2) {
  transition-delay: 200ms;
}

.movie:nth-child(3) {
  transition-delay: 400ms;
}

.movie:nth-child(4) {
  transition-delay: 600ms;
}

.movie:nth-child(5) {
  transition-delay: 800ms;
}

.movie:nth-child(6) {
  transition-delay: 1000ms;
}