section {
  margin: 1rem auto;
  width: 90%;
  /* max-width: 40rem; */
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
}

section:nth-child(1) {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

section:nth-child(1) img {
  width: 80%;
}

button {
  font: inherit;
  cursor: pointer;
  background: #230052;
  border: 1px solid #230052;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 20px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #460897;
  border-color: #460897;
}

.icon {
  animation-name: tieRotation;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes tieRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}